<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <%if(!loggedIn){%>
    <li>
        <a href="/auth/login">Login</a>
    </li>
    <li>
        <a href="/auth/register">Sign up</a>
    </li>
    <%}%>
    <%if(loggedIn){%>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
        <li>
            <a href="/auth/userTeams">My teams</a>
        </li>
        <li>
            <a href="/auth/create">Create Team</a>
        </li>
    <%}%>
</ul>

